#expandable-div{
    position: fixed;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    width: 80px;
    height: 130px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#expandable-div.collapse{
    height: 130px;
    width: 80px;
    margin-right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
#expandable-div.expanded{
    height: 650px;
    width: 450px;
    border-radius: 10px;
}
.collapse-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    margin-right: 0;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
.expandable-content{
    display: none;
}
#expandable-div.collapse .collapse-content{
    display: flex;
}
#expandable-div.expanded .expandable-content{
    display: flex;
    height: 100%;
    border-radius: 18px;
    flex-direction: column;
}
#expandable-div.expanded .collapse-content{
    display:none;
}
.cross-btn{
    cursor: pointer;
    position: absolute;
    font-size: 25px;
    top: 5px;
    right: 10px;
    border: none;
    background-color: #2bcb73;
    color: white;
}
.cross-btn:hover{
    background-color: orangered;
    font-weight: bold;
    border-radius: 2px;
}
  
.item-div{
    height: 25%;
    background-color: #2bcb73;
    color: white;
}
.logo-div{
    height: 50%;
    /* background-color: #0c8542; */
    border-bottom: 1px solid lightgray;
}
.total-amount-div{
    height: 25%;
    background-color: #eaeaea;
}
.logo-div img{
    height: 100%;
    width: 100%;
}
.collapse-content > div {
    width: 100%;
}
.item-div,.total-amount-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}
.remove-btn {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}

.remove-btn:hover {
    color: darkred;
}
.expanded-header{
    height:  8%;
    background-color: #2bcb73;
}
.expanded-footer{
    height: 20%;
    border-top: 2px solid #423b3b;
}
.common-effect{
    padding: 8px 50px;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(32, 22, 22, 0.3); 
    transition: box-shadow 0.2s ease-in-out;
}
.common-effect:hover {
    cursor: pointer;
    box-shadow: -2px -2px 2px rgba(32, 22, 22, 0.3);
}
.clear-the-cart-btn{
    background-color: #2bcb73;
}
.order-now-btn{
   background-color:  #f44336;
}

.cart-item{
   margin: 0;
   padding: 0;

}
.scrollable-content {
    /* padding: 20px;  */
    width: 100%;
    height: 72%;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: justify;
    background-color:#ccc;
  }
  
  /* .scrollable-content p {
    margin: 0 0 10px;
  } */
.shopping-cart-icon{
    color: white;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.cart-item-child-div{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(237, 235, 235);
    padding: 1px 50px;
    background-color: white;
    height: 70px;
    justify-content: space-between;
}
.expanded-footer-child{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.cart-btn{
    width: 70px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:none;
    background-color: white;
}
.cart-inc, .cart-dec{
    background-color: #2BCB7D;
    padding: 0;
    width: 30%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cart-itm{
    background-color: whitesmoke;
    width: 40%;
    border: 1px solid #2BCB7D;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}